.version.contacto /* version checker */
{
	color: #000009;
	background-color: #99CE85;
}

.html
{
	background-color: #B1A47E;
}

#page
{
	z-index: 1;
	width: 1320px;
	min-height: 960px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

#u1351-3
{
	z-index: 2;
	width: 1280px;
	min-height: 930px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 20px;
}

#menuu1352
{
	z-index: 5;
	width: 150px;
	margin-right: -10000px;
	margin-top: 283px;
	left: 70px;
}

#u1374
{
	width: 150px;
}

#u1375
{
	width: 150px;
	min-height: 18px;
	padding-bottom: 42px;
	margin-right: -10000px;
}

#u1375:hover
{
	width: 150px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1377-4
{
	width: 150px;
	min-height: 18px;
	margin-right: -10000px;
	top: 21px;
}

#u1375:hover #u1377-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1370
{
	width: 150px;
	min-height: 18px;
	padding-bottom: 42px;
	margin-right: -10000px;
}

#u1375.MuseMenuActive,#u1370:hover
{
	width: 150px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1372-4
{
	width: 150px;
	min-height: 18px;
	margin-right: -10000px;
	top: 21px;
}

#u1375.MuseMenuActive #u1377-4,#u1370:hover #u1372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1384
{
	width: 150px;
	min-height: 18px;
	padding-bottom: 42px;
	margin-right: -10000px;
}

#u1370.MuseMenuActive,#u1384:hover
{
	width: 150px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1385-4
{
	width: 150px;
	min-height: 18px;
	margin-right: -10000px;
	top: 21px;
}

#u1370.MuseMenuActive #u1372-4,#u1384:hover #u1385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1363
{
	width: 150px;
	min-height: 18px;
	padding-bottom: 43px;
	margin-right: -10000px;
}

#u1384.MuseMenuActive,#u1363:hover
{
	width: 150px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1366-4
{
	width: 150px;
	min-height: 18px;
	margin-right: -10000px;
	top: 21px;
}

#u1384.MuseMenuActive #u1385-4,#u1363:hover #u1366-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1367,#u1381,#u1360,#u1353
{
	width: 150px;
	margin-top: 2px;
}

#u1356
{
	width: 150px;
	min-height: 18px;
	padding-bottom: 43px;
	margin-right: -10000px;
}

#u1363.MuseMenuActive,#u1356:hover
{
	width: 150px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1356.MuseMenuActive
{
	width: 150px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1358-4
{
	width: 150px;
	min-height: 18px;
	margin-right: -10000px;
	top: 21px;
}

#u1363.MuseMenuActive #u1366-4,#u1356:hover #u1358-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1356.MuseMenuActive #u1358-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1397-4
{
	z-index: 36;
	width: 250px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 924px;
	left: 20px;
}

#u1601
{
	z-index: 40;
	width: 201px;
	height: 262px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 51px;
}

#u548-4
{
	z-index: 41;
	width: 543px;
	min-height: 54px;
	background-color: transparent;
	color: #5E1216;
	line-height: 43px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 702px;
}

#u550-11
{
	z-index: 45;
	width: 563px;
	min-height: 114px;
	background-color: transparent;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 702px;
}

#u641-6
{
	z-index: 56;
	width: 563px;
	min-height: 44px;
	background-color: transparent;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 449px;
	left: 702px;
}

#u552
{
	z-index: 62;
	width: 563px;
	height: 1px;
	border-color: #000000;
	background-color: #5E1216;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
	left: 702px;
}

#u619
{
	z-index: 63;
	width: 563px;
	height: 1px;
	border-color: #000000;
	background-color: #5E1216;
	position: relative;
	margin-right: -10000px;
	margin-top: 430px;
	left: 702px;
}

#u576
{
	z-index: 64;
	width: 401px;
	min-height: 930px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 270px;
}

#widgetu622
{
	z-index: 65;
	width: 0.01px;
	height: 354px;
	position: relative;
	margin-right: -10000px;
	margin-top: 510px;
	left: 702px;
}

#widgetu630
{
	z-index: 66;
	width: 342px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu630.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 28px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u632-4
{
	z-index: 67;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu630.non-empty-st #u632-4
{
	background-color: #FFFFFF;
}

#widgetu630:hover #u632-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu630.focus-st #u632-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu630.non-empty-st #u632-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu630:hover #u632-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu630.focus-st #u632-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu630_input,#widgetu630_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: abel, sans-serif;
	font-style: normal;
	font-weight: 400;
	padding: 6px;
}

#widgetu634
{
	z-index: 71;
	width: 342px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: -1px;
}

#widgetu634.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 28px;
	min-height: 0px;
	margin: 49px -10000px 0px 0px;
}

#u637-4
{
	z-index: 72;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu634.non-empty-st #u637-4
{
	background-color: #FFFFFF;
}

#widgetu634:hover #u637-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu634.focus-st #u637-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu630.fld-err-st #u632-4,#widgetu634.fld-err-st #u637-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu634.non-empty-st #u637-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu634:hover #u637-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu634.focus-st #u637-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu634_input,#widgetu634_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: abel, sans-serif;
	font-weight: 400;
	padding: 6px;
}

#u638-4
{
	z-index: 76;
	width: 247px;
	min-height: 19px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #7F7F7F;
	font-size: 16px;
	line-height: 19px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 327px;
	left: 175px;
}

#widgetu622.frm-sub-st #u638-4 p
{
	color: #7F7F7F;
	line-height: 1;
	font-size: 16px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u628-4
{
	z-index: 80;
	width: 247px;
	min-height: 19px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 16px;
	line-height: 19px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 327px;
	left: 175px;
}

#widgetu622.frm-sub-st #u638-4,#widgetu622.frm-subm-err-st #u628-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 23px;
}

#widgetu622.frm-subm-err-st #u628-4 p
{
	color: #FF0000;
	line-height: 1;
	font-size: 16px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u623-4
{
	z-index: 84;
	width: 247px;
	min-height: 17px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #5E1216;
	font-size: 16px;
	line-height: 16px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 327px;
	left: 175px;
}

#widgetu622.frm-subm-ok-st #u623-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 21px;
}

#widgetu622.frm-subm-ok-st #u623-4 p
{
	color: #5E1216;
	font-size: 16px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u629-17
{
	z-index: 88;
	min-height: 36px;
	width: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 318px;
	background: url("../images/u629-17-m.png") no-repeat 0px 0px;
}

#u629-17:hover
{
	background: url("../images/u629-17-fs.png") no-repeat 0px 0px;
}

#u629-17:active
{
	background: url("../images/u629-17-fs.png") no-repeat 0px 0px;
}

#widgetu622.frm-sub-st #u629-17
{
	background: url("../images/u629-17-fs.png") no-repeat 0px 0px;
}

#widgetu624
{
	z-index: 105;
	width: 565px;
	height: 197px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: -1px;
}

#widgetu624.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 565px;
	height: 197px;
	min-height: 0px;
	margin: 98px -10000px 0px 0px;
}

#u625-4
{
	z-index: 106;
	width: 551px;
	min-height: 183px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu624.non-empty-st #u625-4
{
	background-color: #FFFFFF;
}

#widgetu624:hover #u625-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 183px;
	width: 551px;
	margin: 0px -10000px 0px 0px;
}

#widgetu624.focus-st #u625-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 183px;
	width: 551px;
	margin: 0px -10000px 0px 0px;
}

#widgetu624.fld-err-st #u625-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 183px;
	width: 551px;
	margin: 0px -10000px 0px 0px;
}

#widgetu624.non-empty-st #u625-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu624:hover #u625-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu624.focus-st #u625-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu630.fld-err-st #u632-4 *,#widgetu634.fld-err-st #u637-4 *,#widgetu624.fld-err-st #u625-4 *
{
	color: #D7244C;
	font-style: normal;
}

#widgetu624_input,#widgetu624_prompt
{
	width: 551px;
	min-height: 183px;
	color: #C4C4C4;
	font-family: abel, sans-serif;
	font-weight: 400;
	padding: 6px;
}

#widgetu630:hover #widgetu630_input,#widgetu630.focus-st #widgetu630_input,#widgetu630.fld-err-st #widgetu630_input,#widgetu630:hover #widgetu630_prompt,#widgetu630.focus-st #widgetu630_prompt,#widgetu630.fld-err-st #widgetu630_prompt,#widgetu634:hover #widgetu634_input,#widgetu634.focus-st #widgetu634_input,#widgetu634.fld-err-st #widgetu634_input,#widgetu634:hover #widgetu634_prompt,#widgetu634.focus-st #widgetu634_prompt,#widgetu634.fld-err-st #widgetu634_prompt,#widgetu624:hover #widgetu624_input,#widgetu624.focus-st #widgetu624_input,#widgetu624.fld-err-st #widgetu624_input,#widgetu624:hover #widgetu624_prompt,#widgetu624.focus-st #widgetu624_prompt,#widgetu624.fld-err-st #widgetu624_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu630.non-empty-st #widgetu630_prompt,#widgetu634.non-empty-st #widgetu634_prompt,#widgetu624.non-empty-st #widgetu624_prompt
{
	visibility: hidden;
}

#u1411-4
{
	z-index: 110;
	width: 543px;
	min-height: 54px;
	background-color: transparent;
	color: #5E1216;
	line-height: 43px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 369px;
	left: 702px;
}

body
{
	position: relative;
	min-width: 1320px;
}

#page .verticalspacer
{
	clear: both;
}

