.version.index /* version checker */
{
	color: #00001F;
	background-color: #FF6ECD;
}

.html
{
	background-color: #B1A47E;
}

#page
{
	z-index: 1;
	width: 1320px;
	min-height: 960px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

#u1351-3
{
	z-index: 2;
	width: 1280px;
	min-height: 930px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 20px;
}

#menuu1352
{
	z-index: 5;
	width: 150px;
	margin-right: -10000px;
	margin-top: 283px;
	left: 70px;
}

#u1374
{
	width: 150px;
}

#u1375
{
	width: 150px;
	min-height: 18px;
	padding-bottom: 42px;
	margin-right: -10000px;
}

#u1375:hover
{
	width: 150px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1377-4
{
	width: 150px;
	min-height: 18px;
	margin-right: -10000px;
	top: 21px;
}

#u1375:hover #u1377-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1370
{
	width: 150px;
	min-height: 18px;
	padding-bottom: 42px;
	margin-right: -10000px;
}

#u1375.MuseMenuActive,#u1370:hover
{
	width: 150px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1372-4
{
	width: 150px;
	min-height: 18px;
	margin-right: -10000px;
	top: 21px;
}

#u1375.MuseMenuActive #u1377-4,#u1370:hover #u1372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1384
{
	width: 150px;
	min-height: 18px;
	padding-bottom: 42px;
	margin-right: -10000px;
}

#u1370.MuseMenuActive,#u1384:hover
{
	width: 150px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1385-4
{
	width: 150px;
	min-height: 18px;
	margin-right: -10000px;
	top: 21px;
}

#u1370.MuseMenuActive #u1372-4,#u1384:hover #u1385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1363
{
	width: 150px;
	min-height: 18px;
	padding-bottom: 43px;
	margin-right: -10000px;
}

#u1384.MuseMenuActive,#u1363:hover
{
	width: 150px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1366-4
{
	width: 150px;
	min-height: 18px;
	margin-right: -10000px;
	top: 21px;
}

#u1384.MuseMenuActive #u1385-4,#u1363:hover #u1366-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1367,#u1381,#u1360,#u1353
{
	width: 150px;
	margin-top: 2px;
}

#u1356
{
	width: 150px;
	min-height: 18px;
	padding-bottom: 43px;
	margin-right: -10000px;
}

#u1363.MuseMenuActive,#u1356:hover
{
	width: 150px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1356.MuseMenuActive
{
	width: 150px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1358-4
{
	width: 150px;
	min-height: 18px;
	margin-right: -10000px;
	top: 21px;
}

#u1363.MuseMenuActive #u1366-4,#u1356:hover #u1358-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1356.MuseMenuActive #u1358-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1397-4
{
	z-index: 36;
	width: 250px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 924px;
	left: 20px;
}

#u1601
{
	z-index: 40;
	width: 201px;
	height: 262px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 51px;
}

#u86
{
	z-index: 41;
	width: 400px;
	height: 930px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 270px;
	background: transparent url("../images/DSCN1198.jpg") no-repeat center center;
	background-size: cover;
}

#u131-4
{
	z-index: 42;
	width: 543px;
	min-height: 54px;
	background-color: transparent;
	color: #752420;
	font-size: 38px;
	line-height: 46px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 702px;
}

#u139-9
{
	z-index: 46;
	width: 563px;
	min-height: 148px;
	background-color: transparent;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 702px;
}

#u141
{
	z-index: 55;
	width: 260px;
	height: 159px;
	border-style: none;
	border-color: transparent;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
	left: 702px;
	//background: transparent url("../images/DSCN1176.jpg") no-repeat center center;
	//background: rgba(0,0,0,0) url("../images/DSCN1176.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u145
{
	z-index: 56;
	width: 563px;
	height: 1px;
	border-color: #000000;
	background-color: #5E1216;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
	left: 702px;
}

#u143
{
	z-index: 57;
	width: 260px;
	height: 159px;
	border-style: none;
	border-color: transparent;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
	left: 1005px;
	background: transparent url("../images/DSCN1176.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/geriatrico_camelias_6.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u185-4
{
	z-index: 58;
	width: 250px;
	min-height: 15px;
	background-color: transparent;
	color: #000000;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 924px;
	left: 20px;
}

#u1451
{
	z-index: 62;
	width: 563px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 671px;
	left: 702px;
	background: transparent url("../images/DSCN1180.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/DSCN1180.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u1453-4
{
	z-index: 63;
	width: 563px;
	min-height: 70px;
	background-color: transparent;
	font-size: 22px;
	line-height: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 582px;
	left: 702px;
}

#u2264
{
	z-index: 67;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 818px;
	left: 118px;
}

body
{
	position: relative;
	min-width: 1320px;
}

#page .verticalspacer
{
	clear: both;
}

